name: Archive Contribution Data

on:
  schedule:
    - cron: 0 8 * * 6
  workflow_dispatch:

jobs:
  configure:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.generate-matrix.outputs.matrix }}
    steps:
      - id: generate-matrix
        name: Generate Matrix
        run: |
          declare JSON=$(jq -n '{}')
          export YEAR="$(date +%Y)"
          
          for iYear in $(seq 2010 ${YEAR}); do
            export iYear
            
            JSON="$(jq <<< "${JSON}" -c '
              .gqlQuery += [{
                forYear: env.iYear,
                variables: {
                  fromDate: "\(env.iYear)-01-01T00:00:00Z",
                  toDate: (if env.iYear == env.YEAR then now | todateiso8601 else "\(env.iYear)-12-31T23:59:59Z" end)
                }
              }]
            ')"
          done
          
          echo "matrix=$(echo "${JSON}")" >> ${GITHUB_OUTPUT}
  fetch:
    needs: configure
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.USER_TOKEN }}
    strategy:
      max-parallel: 1
      matrix: ${{fromJson(needs.configure.outputs.matrix)}}
    steps:
      - id: fetch-contribution-data
        name: Fetch Contribution Data
        uses: octokit/graphql-action@ddde8ebb2493e79f390e6449c725c21663a67505 # v3.0.2
        with:
          query: |
            query($fromDate:DateTime, $toDate:DateTime) {
              user(login:"jrmash") {
                contributionsCollection(from:$fromDate, to:$toDate) {
                  contributionCalendar {
                    totalContributions
                    weeks {
                      contributionDays {
                        contributionCount
                        date
                      }
                    }
                  }
                }
              }
            }
          variables: |
            fromDate: "${{ matrix.gqlQuery.variables.fromDate }}"
            toDate: "${{ matrix.gqlQuery.variables.toDate }}"
      - name: Output Contribution Data
        run: |
          echo '${{ steps.fetch-contribution-data.outputs.data }}' > ./${{ matrix.gqlQuery.forYear }}.json
      - name: Store Contribution Data
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f #v7.0.0
        with:
          name: contribution-data-${{ matrix.gqlQuery.forYear }}
          path: ./${{ matrix.gqlQuery.forYear }}.json
  record:
    needs: fetch
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.USER_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Get Contribution Data
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          merge-multiple: true
          path: contributions
          pattern: contribution-data-*
      - name: Submit Manifests
        uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          add: "contributions/**"
          message: Update contribution data
